<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="../static/web1.css">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.6.0/css/all.min.css" integrity="sha512-Kc323vGBEqzTmouAECnVceyQqyqdsSiqLQISBL29aUW4U/M7pSPA/gEUZQqv1cwx4OnYxTxve5UMg5GT6L4JJg==" crossorigin="anonymous" referrerpolicy="no-referrer" />
    <title>Jarvis</title>
</head>
<body>
    <div class=" cont-nav">
        <div class="logo">
            <img src="../static/j-logo.svg" alt="">
        </div>
        <nav>
            <ul>
                <li><a href="">docs</a></li>
                <li><a href="">pricing</a></li>
                <li><a href="">templates</a></li>
                <li><a href="">blog</a></li>
                <li><a href="">community</a></li>
                <li><a href="">about</a></li>
               
            </ul>
           
        </nav>
        <div class="bt-n">
            <a href="/admin"> Admin<i class="fa-brands fa-github"></i></a>
            <button type="submit" class="bt-n2"> <a href="reg1"></a>SIGN UP </button>
        </div>
    </div>
    <div class="main">
    <div class="cont-main">
        <div class="cont-sub">
        <h6>Nile is in public preview. Learn more <i class="fa-solid fa-arrow-right" style="color: #ffffff;"></i> </h6>
        <div class="static">
            <h1>Build, Web-Site Easily</h1>

        </div>
        <h1>B2B apps fast</h1>
        <p>PostgreSQL re-engineered for multi-telant apps</p>
        <button> Build with Nile<i class="fa-solid fa-arrow-right" style="color: #000000;"></i> </button>
    </div>
    </div>
</div>
</body>
</html>


<!DOCTYPE html>


</body>
</html>